.vs/
bin/Debug/netcoreapp2.0/
obj/
TestResults/
Properties/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
Coherent.ScriptService.Client/aws-logger-errors.txt
/.sonarqube/conf
/coverage
/Coherent.ScriptService.Client/scripts
/Coherent.ScriptService.Client/node_modules
/dev.env
